{% include 'YupItsZacFreeGeoBundle:Web:head.html.twig' %}
{% include 'YupItsZacFreeGeoBundle:Web:header.html.twig' %}


	<div class="container-fluid bannerRegion whitefont">

		<div class="container">
			<div class="row">
				<div class="col-md-6">

					<div class="row">
						<div class="col-md-12">
							<div class="mtop30"></div>
							<div class="row">

								<h2 class="whitefont"><span class="hidden-xs">Easy. Reliable. </span>Free. Open Source.</h2>

								<p class="font32 hidden-xs">The FreeGeo API is a free, and open soure geospatial API that let's developers easily add geo-abilities to their applications.</p>
								<p class="font14 visible-xs">The FreeGeo API is a free, and open soure geospatial API that let's developers easily add geo-abilities to their applications.</p>

							</div>

							<div class="row">

								<div class="col-md-10">
									<a href="http://github.com/YupItsZac/FreeGeoAPI" target="_blank" class="btn btn-primary pull-right outline hidden-xs"><span class="fa fa-github"></span> Github</a>
									<a href="http://github.com/YupItsZac/FreeGeoAPI" target="_blank" class="btn btn-primary btn-block outline visible-xs"><span class="fa fa-github"></span> Github</a>
								</div>

								<div class="col-md-2">
									<a href="{{ url('free_geo_developer_register') }}" class="btn btn-primary pull-right hidden-xs outline">Register</a>
									<a href="{{ url('free_geo_developer_register') }}" class="btn btn-primary btn-block outline visible-xs mtop20">Register</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6"></div>
			</div>
		</div>

	</div>
   
   	<div class="container">
		<div class="mtop30"></div>
		<div class="row">

			<div class="col-md-1"></div>
			<div class="col-md-4">
				<img src="{{ asset('bundles/yupitszacfreegeo/images/accurate.png') }}" class="img-responsive hidden-xs graphicHome">
			</div>

			<div class="col-md-6">

				<h2>Accurate Location Data</h2>

				<p>The FreeGeo API stores geospatial data collected from around the world! This data is processed and updated almost daily, providing developers with the most updated datasets possible.</p>

				<p>Utilize our Find Near API to locate points of interest near your user (based on GPS coordinates). </p>

				<hr>

				<a href="{{ url('free_geo_developer_register') }}" class="btn btn-primary pull-right btn-custom">Register</a>
				<a href="http://www.github.com/YupItsZac/FreeGeoAPI" target="_blank" class="btn btn-primary pull-right btn-custom"><span class="fa fa-github"></span> Contribute</a>

			</div>
			<div class="col-md-1"></div>
		</div>

		<div class="mtop30"></div>
		<div class="row">

			<div class="col-md-6">

				<h2>Clear Docs and Usage Snippets</h2>

				<p>The best APIs and other utilities are shipped with clear and concise technical documentation to help developers get started and learn how to leverage the full service to the fullest extent.</p>

				<p>The FreeGeo API features detailed documentation with usage examples in PHP and Python. More coming soon!</p>

				<hr>

				<a href="{{ url('free_geo_developer_register') }}" class="btn btn-primary pull-right btn-custom">Register</a>
				<a href="http://www.github.com/YupItsZac/FreeGeoAPI" target="_blank" class="btn btn-primary pull-right btn-custom"><span class="fa fa-github"></span> Contribute</a>

			</div>

			<div class="col-md-4">
				<img src="{{ asset('bundles/yupitszacfreegeo/images/docs.png') }}" class="img-responsive hidden-xs homeGraphic">
			</div>

			<div class="col-md-2"></div>
		</div>

		<div class="mtop30"></div>
		<div class="row">

			<div class="col-md-4">
				<img src="{{ asset('bundles/yupitszacfreegeo/images/collaborative.png') }}" class="img-responsive hidden-xs homeGraphic">
			</div>

			<div class="col-md-6">

				<h2>Collaborative and Open</h2>

				<p>We believe that if you have one guy working on a project, it's a good project. If you have several hundred guys working on a project, that project becomes several hundred times better.</p>

				<p>The FreeGeo API is 100% open source and always looking for brilliant contributors to help expand and scale the project.</p>

				<hr>

				<a href="{{ url('free_geo_developer_register') }}" class="btn btn-primary pull-right btn-custom">Register</a>
				<a href="http://www.github.com/YupItsZac/FreeGeoAPI" target="_blank" class="btn btn-primary pull-right btn-custom"><span class="fa fa-github"></span> Contribute</a>

			</div>

			<div class="col-md-2"></div>

			<div class="mtop30"></div>
		</div>

	</div>


<div id="dialog-message" title="Help Support FreeGeo">
	<p>
		<b>We need your help!</b> <span class="hidden-xs">The FreeGeo API is expensive to maintain and keep online. We pay for bandwidth, disk space, transfers, IPs, etc. The Services provided by the API are completely free, so it's difficult to keep funding for the project.<br><br></span>If each developer or visitor to the site donated just <b>€5 (approx $5.56)</b>, we could afford to keep the API and associated services online for another 6 months!
	</p>
	<p>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="C4QH55VNC4EYG">
		<input type="image" src="https://www.paypalobjects.com/en_US/DE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
	</form>

	</p>
</div>

{% include 'YupItsZacFreeGeoBundle:Web:footer.html.twig' %}

