<div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Docs Navigation</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('free_geo_documentation') }}">Docs Home</a></li>
                <li><a href="{{ url('free_geo_authenticate') }}">Authentication</a></li>
                <li><a href="{{ url('free_geo_calculate_distance') }}">Distance Calculation</a></li>
                <li><a href="{{ url('free_geo_detect_time_zone') }}">Detect Timezone</a></li>
                <li><a href="{{ url('free_geo_find_near_cities') }}">Find Near: Cities</a></li>
                <li><a href="{{ url('free_geo_find_near_ports') }}">Find Near: Ports</a></li>
                <li><a href="{{ url('free_geo_find_near_airports') }}">Find Near: Airports</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>