<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}FreeGeo API by Zac{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/yupitszacfreegeo/css/main.css') }}">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->


    </head>
    <body>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=226733024007675";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>

        <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
      <div class="container">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ url('free_geo_homepage') }}" class="navbar-brand"><img class="freelogo" src="{{ asset('bundles/yupitszacfreegeo/images/freegeologo.png') }}" alt="FreeGeo API by YupItsZac"></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li><a href="{{ url('free_geo_homepage') }}">Home</a></li>
            <li><a href="{{ url('free_geo_status') }}">Status</a></li>
            <li><a href="{{ url('free_geo_developer_register') }}">Register</a></li>
            <li class="dropdown">
              <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Documentation <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url('free_geo_authenticate') }}">Authenticate</a></li>
                <li class="divider" role="separator"></li>
                <li class="dropdown-header">Other Tasks</li>
                <li><a href="{{ url('free_geo_reset') }}">Reset API Keys</a></li>
                <li><a href="https://github.com/YupItsZac/FreeGeoAPI" target="_blank">FreeGeo on Github</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Usage <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url('free_geo_authenticate') }}">Authenticate</a></li>
                <li><a href="{{ url('free_geo_find_near') }}">Find Near</a></li>
                <li><a href="{{ url('free_geo_detect_time_zone') }}">Detect Timezone</a></li>
                <li><a href="{{ url('free_geo_calculate_distance') }}">Calculate Distance</a></li>
              </ul>
            </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">

            <li><a href="{{ url('free_geo_developer_login') }}">Login</a></li>
            <li><a href="https://github.com/YupItsZac/FreeGeoAPI" target="_blank">
              <span class="fa fa-github" class="navbar-github"></span>
              Git Repo
            </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}

    </div>
        
    <script>

        $(document).ready(function() {

            $('#php').fadeIn();
            
            $(".tabs-menu a").click(function(event) {
                event.preventDefault();
                $(this).parent().addClass("current");
                $(this).parent().siblings().removeClass("current");
                var tab = $(this).attr("href");
                $(".tab-content").not(tab).css("display", "none");
                $(tab).fadeIn();
            });
        });

    </script>

    <div class="footer navbar navbar-fixed-bottom">
      <div class="container">

        <div class="col-md-6">
            <p class="text-muted">&copy; 2015 FreeGeo API. All rights reserved.</p>
        </div>

        <div class="col-md-6">
            <p class="pull-right">
                <a href="http://www.digitalocean.com" target="_blank"><img class="do" src="{{ asset('bundles/yupitszacfreegeo/images/do.png') }}"></a>
            </p>
        </div>
      </div>
    </div>

    </body>
</html>
