{% include 'YupItsZacFreeGeoBundle:Web:head.html.twig' %}
{% include 'YupItsZacFreeGeoBundle:Web:header.html.twig' %}


<div class="container-fluid miniBar whitefont">

    <div class="container">
        <p>Developer Registration</p>
    </div>

</div>

<div class="container content">
    <div class="mtop30"></div>
    <div class="row">

        <div class="col-md-1"></div>

        <div class="col-md-10">


            {{ form_start(form) }}
            {{ form_row(form.Firstname) }}
            {{ form_row(form.Lastname) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}

            <button type="submit">Register</button>
            {{ form_end(form) }}

        </div>
        <div class="col-md-1"></div>
    </div>

</div>


{% include 'YupItsZacFreeGeoBundle:Web:footer.html.twig' %}
