{% include 'YupItsZacFreeGeoBundle:Web:head.html.twig' %}
{% include 'YupItsZacFreeGeoBundle:Web:header.html.twig' %}


<div class="container-fluid miniBar whitefont">

    <div class="container">
        <p>Developer: Overview</p>
    </div>

</div>

<div class="mtop30"></div>

<div class="container">

    <div class="row">

        <div class="col-md-3">
            {% include 'YupItsZacFreeGeoBundle:Developer:sidebar.html.twig' %}
        </div>

        <div class="col-md-7">

            {% if notifySuccess is not empty %}
                <div class="alert alert-success">{{ notifySuccess }}</div>
            {% endif %}

                <div class="row">
                    <div class="col-md-6">
                        <p class="hiText">Hi, {{ userObject['firstName'] }} :)</p>
                    </div>

                    <div class="col-md-6">
                        <a href="{{ url('free_geo_developer_logout') }}" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </div>
                </div>


                <hr/>

                {% if appList is defined %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Public Key</th>
                            <th>Beta</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key,value in appList %}
                            <tr><td>{{ value.AppTitle }}</td><td>{{ value.PublicKey }}</td><td>{% if value.Beta is empty %}<span class="glyphicon glyphicon-remove"></span>{% else %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td><td><a class="btn btn-primary" href="{{ url('free_geo_developer_app_settings', {'appHash': value.Hash}) }}"><span class="glyphicon glyphicon-cog"></span></a></td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="noApps">You don't have any apps registered :(</p>
                {% endif %}
        </div>

        <div class="col-md-2"></div>

    </div>

</div>


{% include 'YupItsZacFreeGeoBundle:Web:footer.html.twig' %}

